<html ng-app="iwheelfind">
  <head>
    <title>IWheelFind</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="../js/contentScript.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript"src="../js/angularInsert.js"></script>
    <script src="https://apis.google.com/js/plus.js?onload=init"></script>


  </head>

  <body ng-controller="AWFcontroller">
    <h1>IWheelFind</h1>

{{10+9}}
  <form>
    <p>
      <label for="url">Nom de Domaine :</label>
      <input type="text" name="url" id="url" />
    </p>
    <p>
      Accessibilités :
      <br />
      <input type="checkbox" name="ascenceur" id="liftToAllFloor" value="liftToAllFloor" ng-click="clickLift()" ng-model="liftToAllFloor"/>
      <label for="liftToAllFloor">Ascenceur</label>

      <br />
      <input type="checkbox" name="automaticDoor" id="automaticDoor" value="automaticDoor" ng-click="clickAutoDoor()" ng-model="automaticDoor"/>
      <label for="automaticDoor">Portes automatiques</label>

      <br />
      <input type="checkbox" name="ramp" id="ramp" value="ramp" ng-click="clickRamp()" ng-model="ramp"/>
      <label for="ramp">Rampes</label>

      <br />
      <input type="checkbox" name="signLang" id="signLang" value="signLang" ng-click="clickSignLang()" ng-model="signLang"/>
      <label for="signLang">Personne pratiquant le langage des signes</label>

      <br />
      <input type="checkbox" name="hearingSupportSystem" id="hearingSupportSystem" value="hearingSupportSystem" ng-click="clickhearing()" ng-model="hearingSupportSystem"/>
      <label for="hearingSupportSystem">Système d'aide aux personnes à déficience auditive</label>

      <br />
      <input type="checkbox" name="visualSupportSystem" id="visualSupportSystem" value="visualSupportSystem" ng-click="clickVisual()" ng-model="visualSupportSystem"/>
      <label for="visualSupportSystem">Système d'aide aux personnes à déficience visuelle</label>

      <br />
      <input type="checkbox" name="disabledParking" id="disabledParking" value="disabledParking" ng-click="clickParking()" ng-model="disabledParking"/>
      <label for="disabledParking">Parking avec des places pour handicapés</label>

      <br />
      <input type="checkbox" name="disabledToilets" id="disabledToilets" value="disabledToilets" ng-click="clickToilets()" ng-model="disabledToilets"/>
      <label for="disabledToilets">Toilettes accessibles aux handicapés</label>

    </p>

    <input type="submit" ng-click=insert() value="Envoyer" />

  </form>
   
  
  </body>


  
</html>
